@import  '../../assets/user/plugins/owl-carousel/owl.carousel.css';
@import  '../../assets/user/plugins/owl-carousel/owl.theme.css';
@import  '../../assets/user/font-awesome/css/font-awesome.min.css';
p{
    color: brown;
    border-top: 1px solid violet;
    margin-left: 10em;
    margin-right: 10em;
    border-radius:50px
}
.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    padding-top: 10px;
}